@model Quản_Lý_Sách.Models.THE_LOAI

<h2>Thêm Thể Loại Mới</h2>

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

    <div class="form-group">
        @Html.LabelFor(model => model.TenTheLoai)
        @Html.TextBoxFor(model => model.TenTheLoai, new { @class = "form-control" })
    </div>

    <button type="submit" class="btn btn-primary">Lưu</button>
    @Html.ActionLink("Hủy", "Index", null, new { @class = "btn btn-default" })
}
