@{
    ViewBag.Title = "Home Page";
}

<main>
    <section class="row" aria-labelledby="aspnetTitle">
        <h1 id="title">Xin chào các bạn đã đến với Tiệm Sách Của Vỹ</h1>
        <p class="lead">Ở đây có rất nhiều sách bạn cần ! Hãy tham khảo từ từ kẻo hoa mắt nha !</p>
    </section>

    <div class="row">
        <section class="col-md-4" aria-labelledby="gettingStartedTitle">
            <h2 id="gettingStartedTitle">Đây là FACEBOOK của tôi </h2>
            <p>
                Các bạn cần gì liên hệ qua FACEBOOk của tôi nhé
            </p>
            <p><a class="btn btn-outline-dark" href="https://www.facebook.com/profile.php?id=100038944693018">Ấn vào đây &raquo;</a></p>
        </section>
        <section class="col-md-4" aria-labelledby="librariesTitle">
            <h2 id="librariesTitle">ĐÂY là ZALO của tôi</h2>
            <p>Các bạn nhập số 0358072868 nha </p>
        </section>
        <section class="col-md-4" aria-labelledby="hostingTitle">
            <h2 id="hostingTitle">Đây là INSTAGRAM</h2>
            <p>Ấn link ở dưới nha</p>
            <p><a class="btn btn-outline-dark" href="https://www.instagram.com/_vyneee/">Đây nè &raquo;</a></p>
        </section>
    </div>
</main>